:root {
	--clr-iris: #4d5ae5;
	--clr-ocean: #404bbf;
	--clr-navy-blue: #2e2f42;
	--clr-green: #31d0aa;
	--clr-slate: #434455;
	--clr-light-slate: #8e8f99;
	--clr-cornflower: #e7e9fc;
	--clr-cloud: #f4f4fd;
	--clr-navy-blue-modal: #2e2f42;
	--clr-grey: #2e2f42;
	--clr-white: #ffffff;
	--clr-dairy: #fcfcfc;
}
