@import url('./colors.css');
@import url('./fonts.css');

/* === common === */

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	cursor: pointer;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--clr-slate);
	background-color: var(--clr-white);
}

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

.accent-color {
	color: var(--clr-iris);
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	text-align: center;
	color: var(--clr-grey);
}

/* === common === */

/* === header === */

.header {
	border-bottom: 1px solid var(--clr-cornflower);
}

.header-container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
	column-gap: 76px;
	margin-right: auto;
}

.logo {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--clr-grey);
}

.menu {
	display: flex;
	column-gap: 40px;
}

.menu-link {
	position: relative;
	display: block;
	font-weight: 500;
	color: var(--clr-grey);
	padding: 24px 0;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
	color: var(--clr-ocean);
}

.active.menu-link {
	color: var(--clr-ocean);
}

.active.menu-link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	margin-bottom: -1px;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--clr-ocean);
}

.contacts-list {
	display: flex;
	column-gap: 40px;
}

.contacts-link {
	display: block;
	padding: 24px 0;
	font-style: normal;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
	color: var(--clr-ocean);
}

/* === header === */

/* === hero === */

.hero {
	padding: 188px 0;
	background: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero-bg.jpg') no-repeat center / cover;
	background-color: var(--clr-grey);
}

.hero-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 50px;
}

.hero-title {
	max-width: 500px;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.1;
	text-align: center;
	color: var(--clr-white);
}

.hero-button {
	min-width: 169px;
	min-height: 56px;
	padding: 16px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background: var(--clr-iris);
	border-radius: 4px;
	border: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--clr-white);
	background-color: var(--clr-iris);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
	background-color: var(--clr-ocean);
}

/* === hero === */

/* === benefits */

.benefits {
	padding: 120px 0;
}

.benefits-list {
	display: flex;
	column-gap: 20px;
}

.benefits-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	row-gap: 8px;
	width: calc((100% - 60px) / 4);
}

.benefits-item-icon-block {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 24px;
	border: 1px solid var(--clr-light-slate);
	border-radius: 4px;
	background-color: var(--clr-cloud);
}

.benefits-title {
	margin-bottom: 72px;
}

.benefits-item-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--clr-grey);
}

/* === benefits */

/* === team === */

.team {
	padding: 120px 0;
	background-color: var(--clr-cloud);
}

.team-title {
	margin-bottom: 72px;
}

.team-list {
	display: flex;
	column-gap: 24px;
}

.team-item {
	width: calc((100% - 72px) / 4);
	border-radius: 0 0 4px 4px;
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
	background: var(--clr-white);
}

.team-item-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 8px;
	padding: 32px 16px;
}

.team-item-name {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	color: var(--clr-grey);
}

.team-item-social-list {
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 24px;
}

.team-item-socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 12px;
	background-color: var(--clr-iris);
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-item-socials-icon {
	fill: var(--clr-cloud);
}

.team-item-socials-link:hover,
.team-item-socials-link:focus {
	background-color: var(--clr-ocean);
}

/* === team === */

/* === portfolio === */

.portfolio {
	padding: 120px 0;
}

.portfolio-title {
	margin-bottom: 72px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 24px;
	gap: 48px 24px;
}

.portfolio-item {
	width: calc((100% - 48px) / 3);
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-overlay {
	position: relative;
	overflow: hidden;
}

.portfolio-overlay-text {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 40px 32px;
	background-color: var(--clr-iris);
	color: var(--clr-cloud);
	transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
	box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-overlay-text {
	top: 0;
}

.portfolio-item-content {
	border: 1px solid var(--clr-cornflower);
	border-top: none;
	padding: 32px 16px;
}

.portfolio-item-service {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--clr-grey);
	margin-bottom: 8px;
}

/* === portfolio === */

/* === footer === */

.footer {
	padding: 100px 0;
	color: var(--clr-cloud);
	background-color: var(--clr-grey);
}

.footer-container {
	display: flex;
	column-gap: 120px;
}

.footer .logo {
	display: block;
	color: var(--clr-cloud);
	margin-bottom: 15px;
}

.footer-text {
	max-width: 264px;
}

.footer-block-title {
	font-weight: 500;
	font-size: 16px;
	color: var(--clr-white);
}

.footer-socials-title {
	margin-bottom: 16px;
}

.footer-socials-list {
	display: flex;
	column-gap: 16px;
}

.footer-socials-link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	background-color: #4d5ae5;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials-link:hover,
.footer-socials-link:focus {
	background-color: var(--clr-green);
}

.footer-socials-icon {
	fill: var(--clr-cloud);
}

.footer-subscribe-title {
	margin-bottom: 16px;
}

.footer-subscribe-form {
	display: flex;
	align-items: center;
	column-gap: 24px;
}

.footer-subscribe-input {
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: var(--clr-white);
	padding: 8px 20px;
	border: 1px solid var(--clr-white);
	border-radius: 4px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	background-color: transparent;
	width: 264px;
	height: 40px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
	color: var(--clr-white);
}

.footer-subscribe-input:focus {
	outline-offset: 1px;
	outline-color: var(--clr-iris);
}

.footer-subscribe-submit-button {
	display: flex;
	align-items: center;
	column-gap: 16px;
	border-radius: 4px;
	padding: 8px 24px;
	width: 165px;
	height: 40px;
	background-color: var(--clr-iris);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--clr-white);
	border: none;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-submit-button:hover,
.footer-subscribe-submit-button:focus {
	background-color: var(--clr-ocean);
}

.footer-subscribe-button-icon {
	fill: var(--clr-white);
}

/* === footer === */

/* === modal === */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: rgba(46, 47, 66, 0.4);
	opacity: 0;
	pointer-events: none;
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
	opacity: 1;
	pointer-events: auto;
}

.modal {
	position: relative;
	width: 408px;
	max-height: 584px;
	height: 80%;
	overflow: auto;
	padding: 72px 24px 24px 24px;
	background-color: var(--clr-dairy);
	border-radius: 4px;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.modal-close-button {
	position: absolute;
	top: 24px;
	right: 24px;
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 50%;
	background-color: var(--clr-cornflower);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
	background-color: var(--clr-ocean);
	border-color: var(--clr-ocean);
	fill: var(--clr-white);
}

.modal-slogan {
	font-weight: 500;
	text-align: center;
	color: var(--clr-navy-blue);
	margin-bottom: 16px;
}

.order-form-field-wrapper:not(:last-child) {
	margin-bottom: 8px;
}

.order-form-field-label {
	display: block;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.17;
	letter-spacing: 0.04em;
	color: var(--clr-light-slate);
	margin-bottom: 4px;
}

.order-form-input-wrapper {
	position: relative;
}

.order-form-input {
	display: block;
	width: 100%;
	height: 40px;
	border: 1px solid rgba(46, 47, 66, 0.4);
	border-radius: 4px;
	padding: 0 0 0 38px;
	font-weight: 400;
	font-size: 12px;
	background-color: transparent;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus {
	outline: none;
	border-color: var(--clr-iris);
}

.order-form-input-icon {
	position: absolute;
	top: 50%;
	left: 16px;
	transform: translateY(-50%);
	fill: var(--clr-grey);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-form-input:focus + .order-form-input-icon {
	fill: var(--clr-iris);
}

/* === modal === */
